.page-width {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-right: 8px;
}

.page-container {
  width: 100%;
}

@font-face {
  font-family: "Kanit";
  src: local("Kanit"), url(../fonts/Kanit/Kanit-SemiBold.ttf) format("truetype");
}

.kanit {
  font-family: 'Kanit', sans-serif;
}